#addDiv {
     /* background-color: darkkhaki; */
    width: 450px;
    height: 100px;
    margin-top: 50px;
}

ul li::before {
    content: "\2022";
    color: red;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }

body{
    background-color: lightblue;
}
#addToListBtn {
    width: 20%;
    padding: 5px;
    color: #555;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
}
#inputToList {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 50%;
    padding: 10px;
    float: left;
    font-size: 16px;
}
.deleteBtn {
    margin-left:50px;
    color :red;
    background-color: lightblue;

    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}