#addDiv{
    background-color: darkkhaki;
    width: 450px;

}
#addToListBtn{
    width: 20%;
    padding: 5px;
    color: #555;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
}
#inputToList{
    margin: 0;
    border: none;
    border-radius: 0;
    width: 50%;
    padding: 10px;
    float: left;
    font-size: 16px;
}
.deleteBtn {
    margin-left:6px;
}