body{
   background-image: linear-gradient(to right,#37B9E9, #9CBCB4);
}

#bigContainer{
   border-radius: 5px;
   background-color:#84CEEB;
}

.divAdd{
   padding: 10px;
}

.container {
   display: flex;
   padding: 10px;
  
 }

 .menu{
   background-color:#29487D;
   opacity: 0.75;
 }
 
 .divLeftTodo {
   flex: 0 0 80%;
 }
 .divLeft {
   flex: 0 0 65%;
 }
 
 .divRight {
   flex: 1;
 }
 #todoList{
    width: 50%;
    color: black;
    margin-left: 10px;
 }
 li{
   list-style:none;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
   width: 700px;
   display: inline-block;
   background-color: rgba(0.95, 0.95, 0.95, 0.1);
   color: white;
   margin: 1px;
   padding: 5px;
   border-radius: 5px;;
 }


/* #Clouds Flat Button
==================================================*/
.managerBtn {
    position: relative;
    vertical-align: top;
    padding: 0;
    height: 30px;
    font-size: 12px;
    color:#454545;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #ecf0f1;
    border: 0;
    border-bottom: 2px solid #dadedf;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #dadedf;
    box-shadow: inset 0 -2px #dadedf;
    margin: 1px;
    margin-bottom: 10px;
  }
  .managerBtn:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .bigBtn{
   width: 20%;
  }
  .smallBtn{
     width: 6%;
  }

input{
   margin: 1px;
   border: none;
   border-radius: 0px;
   width: 150px;
   height: 20px;
   padding: 5px;
   font-size: 14px;
   border-radius: 2px;
}

#logOutBtn{
   float:right;
}

#header{
   font-family: "Trebuchet MS", Helvetica, sans-serif;
   color: white;
   margin-left: 100px;
}

.completeBtn{
   margin-right: 10px;
   font-size: 16px;
   color:limegreen;
   background: none;
   text-align: center;
   font-weight: bold;
   border: none;
   cursor: pointer;
   float: right;
}
.deleteBtn{
   color :red;
   background: none;
   border: none;
   cursor:pointer;
   overflow: hidden;
   outline:none;
   font-size: 16px;
   float:right;
}

.userInfo{
   color: white;
   background-color: rgba(0.95, 0.95, 0.95, 0.1);
   border-radius: 5px;
   height: 70%;
   width: 60%;
   padding: 10px;
   float:right;
   margin-right: 4px;
   margin-top: 16px;
   font-size: 16px;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#info{
   color:white;
   display: inline-block;
   margin-top: 0;
   margin-left: 15%;
   font-weight: bold;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
   font-size: 20px;
}

#footer {
   position: fixed;
   left: 0;
   bottom: 0;
   height: 20px;
   width: 100%;
   background-color: #29487D;
   background-color: rgba(41, 72, 125, 0.2);
   color: white;
   text-align: center;
 }